In [11]:
import pandas as pd
df = pd.read_pickle("resultados_2rest.pkl")

In [12]:
df.head(10)[["problem_n","inicio"]].to_csv("inicio.csv", index=False, sep=";")

In [13]:
df.sort_values(by=["value"], ascending=False)

,name,value,niters,time,problem_n,tabu_max_len,tabu_prob,tabu_improv_treshold,inicio,solution
25082,Tabu,-108274,235,0.884065,7,1.0,0.10000,0.00100,"[0, 14, 24, 2, 18, 40, 12, 68, 54, 53, 31, 30,...","[0, 75, 74, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,..."
44454,Tabu,-108280,347,0.506963,4,3.0,0.10000,0.00001,"[0, 25, 69, 35, 72, 49, 58, 70, 19, 1, 43, 47,...","[0, 22, 21, 20, 24, 23, 45, 44, 43, 47, 46, 68..."
11091,Tabu,-108487,158,0.482758,8,0.0,0.10000,0.00100,"[0, 10, 6, 70, 13, 69, 8, 66, 62, 5, 72, 54, 1...","[0, 22, 21, 20, 24, 23, 45, 44, 43, 47, 46, 68..."
39182,Tabu,-108665,235,0.523731,7,1.0,0.10000,0.01000,"[0, 14, 24, 2, 18, 40, 12, 68, 54, 53, 31, 30,...","[0, 75, 74, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,..."
22324,Tabu,-108724,374,0.477825,1,3.0,0.10000,0.01000,"[0, 34, 73, 67, 46, 40, 49, 70, 22, 24, 27, 29...","[0, 75, 74, 1, 2, 3, 19, 4, 5, 6, 7, 8, 9, 10,..."
...,...,...,...,...,...,...,...,...,...,...
12147,Tabu,-592534,386,0.000000,3,6.0,0.00001,0.00010,"[0, 55, 2, 40, 62, 41, 38, 64, 49, 69, 47, 72,...","[0, 55, 2, 40, 62, 41, 38, 64, 49, 69, 47, 72,..."
12146,Tabu,-592534,386,0.000000,3,5.0,0.00001,0.00010,"[0, 55, 2, 40, 62, 41, 38, 64, 49, 69, 47, 72,...","[0, 55, 2, 40, 62, 41, 38, 64, 49, 69, 47, 72,..."
12049,Tabu,-592534,386,0.000000,3,8.0,0.00001,0.00001,"[0, 55, 2, 40, 62, 41, 38, 64, 49, 69, 47, 72,...","[0, 55, 2, 40, 62, 41, 38, 64, 49, 69, 47, 72,..."
12048,Tabu,-592534,386,0.001005,3,7.0,0.00001,0.00001,"[0, 55, 2, 40, 62, 41, 38, 64, 49, 69, 47, 72,...","[0, 55, 2, 40, 62, 41, 38, 64, 49, 69, 47, 72,..."
14947,Tabu,-592534,386,0.000000,3,6.0,0.00001,0.00010,"[0, 55, 2, 40, 62, 41, 38, 64, 49, 69, 47, 72,...","[0, 55, 2, 40, 62, 41, 38, 64, 49, 69, 47, 72,..."

In [47]:
df[(df["name"]=="Tabu")&(df["value"]>-6872)]

,name,value,niters,time,problem_n,tabu_max_len,tabu_prob,tabu_improv_treshold,inicio,solution
0,Tabu,-6859,48,0.015999,0,-1.0,0.0,0.00001,"[0, 15, 6, 2, 14, 9, 3, 5, 4, 7, 11, 1, 13, 10...","[0, 7, 3, 1, 2, 15, 9, 8, 10, 4, 14, 5, 6, 11,..."
0,Tabu,-6859,86,0.011013,0,0.0,0.0,0.00001,"[0, 15, 6, 2, 14, 9, 3, 5, 4, 7, 11, 1, 13, 10...","[0, 7, 3, 1, 2, 15, 9, 8, 10, 4, 14, 5, 6, 11,..."
0,Tabu,-6859,45,0.009999,3,-1.0,0.0,0.00001,"[0, 13, 7, 12, 5, 14, 15, 2, 9, 6, 10, 4, 3, 8...","[0, 13, 12, 11, 6, 5, 14, 4, 10, 8, 9, 15, 2, ..."
0,Tabu,-6859,86,0.011002,3,0.0,0.0,0.00001,"[0, 13, 7, 12, 5, 14, 15, 2, 9, 6, 10, 4, 3, 8...","[0, 13, 12, 11, 6, 5, 14, 4, 10, 8, 9, 15, 2, ..."
0,Tabu,-6859,44,0.011029,4,-1.0,0.0,0.00001,"[0, 12, 10, 11, 15, 9, 13, 5, 14, 1, 7, 4, 2, ...","[0, 13, 12, 11, 6, 5, 14, 4, 10, 8, 9, 15, 2, ..."
...,...,...,...,...,...,...,...,...,...,...
0,Tabu,-6870,45,0.022035,7,2.0,0.1,0.01000,"[0, 1, 9, 3, 6, 12, 4, 8, 10, 5, 13, 11, 15, 2...","[0, 14, 4, 10, 8, 9, 6, 5, 13, 12, 11, 15, 2, ..."
0,Tabu,-6859,67,0.007997,7,4.0,0.1,0.01000,"[0, 1, 9, 3, 6, 12, 4, 8, 10, 5, 13, 11, 15, 2...","[0, 13, 12, 11, 6, 5, 14, 4, 10, 8, 9, 15, 2, ..."
0,Tabu,-6870,53,0.002996,9,3.0,0.1,0.01000,"[0, 3, 5, 10, 9, 6, 11, 14, 13, 8, 12, 7, 2, 1...","[0, 14, 4, 10, 8, 9, 6, 5, 13, 12, 11, 15, 2, ..."
0,Tabu,-6870,64,0.003978,9,4.0,0.1,0.01000,"[0, 3, 5, 10, 9, 6, 11, 14, 13, 8, 12, 7, 2, 1...","[0, 14, 4, 10, 8, 9, 6, 5, 13, 12, 11, 15, 2, ..."
0,Tabu,-6870,85,0.002974,9,6.0,0.1,0.01000,"[0, 3, 5, 10, 9, 6, 11, 14, 13, 8, 12, 7, 2, 1...","[0, 14, 4, 10, 8, 9, 6, 5, 13, 12, 11, 15, 2, ..."

In [48]:
df[(df["name"]!="Tabu")].sort_values(by=["value"], ascending=False)

,name,value,niters,time,problem_n,tabu_max_len,tabu_prob,tabu_improv_treshold,inicio,solution
0,HillClimbing,-6859,13,0.007999,0,NaN,NaN,NaN,"[0, 15, 6, 2, 14, 9, 3, 5, 4, 7, 11, 1, 13, 10...","[0, 7, 3, 1, 2, 15, 9, 8, 10, 4, 14, 5, 6, 11,..."
0,HillClimbing,-6859,10,0.007706,3,NaN,NaN,NaN,"[0, 13, 7, 12, 5, 14, 15, 2, 9, 6, 10, 4, 3, 8...","[0, 13, 12, 11, 6, 5, 14, 4, 10, 8, 9, 15, 2, ..."
0,HillClimbing,-6859,9,0.005031,4,NaN,NaN,NaN,"[0, 12, 10, 11, 15, 9, 13, 5, 14, 1, 7, 4, 2, ...","[0, 13, 12, 11, 6, 5, 14, 4, 10, 8, 9, 15, 2, ..."
0,HillClimbing,-6859,9,0.004645,5,NaN,NaN,NaN,"[0, 11, 5, 12, 14, 8, 15, 10, 7, 3, 1, 2, 9, 6...","[0, 13, 12, 11, 6, 5, 14, 4, 10, 8, 9, 15, 2, ..."
0,HillClimbing,-6870,9,0.004653,7,NaN,NaN,NaN,"[0, 1, 9, 3, 6, 12, 4, 8, 10, 5, 13, 11, 15, 2...","[0, 14, 4, 10, 8, 9, 6, 5, 13, 12, 11, 15, 2, ..."
0,HillClimbing,-6875,13,0.009017,1,NaN,NaN,NaN,"[0, 6, 1, 3, 2, 15, 14, 7, 11, 8, 13, 9, 4, 12...","[0, 7, 3, 1, 2, 15, 11, 6, 5, 9, 8, 10, 4, 14,..."
0,HillClimbing,-6875,14,0.006871,6,NaN,NaN,NaN,"[0, 6, 15, 11, 10, 3, 9, 13, 5, 7, 4, 2, 8, 14...","[0, 7, 3, 1, 2, 15, 11, 6, 5, 9, 8, 10, 4, 14,..."
0,HillClimbing,-6875,12,0.006196,8,NaN,NaN,NaN,"[0, 15, 11, 12, 5, 9, 1, 14, 6, 2, 7, 4, 3, 13...","[0, 7, 3, 1, 2, 15, 11, 6, 5, 9, 8, 10, 4, 14,..."
0,HillClimbing,-6941,9,0.004982,2,NaN,NaN,NaN,"[0, 13, 11, 10, 15, 9, 3, 7, 14, 4, 12, 1, 6, ...","[0, 15, 11, 12, 13, 5, 6, 9, 8, 10, 4, 14, 7, ..."
0,HillClimbing,-7005,8,0.004999,9,NaN,NaN,NaN,"[0, 3, 5, 10, 9, 6, 11, 14, 13, 8, 12, 7, 2, 1...","[0, 14, 13, 12, 11, 6, 5, 4, 10, 8, 9, 15, 2, ..."

In [10]:
df=pd.read_csv("inicio.csv", sep=";")
import json

for a,b in df.values:
    print(a,b)

json.loads(b)

0 [0, 15, 6, 2, 14, 9, 3, 5, 4, 7, 11, 1, 13, 10, 12, 8, 0]
1 [0, 6, 1, 3, 2, 15, 14, 7, 11, 8, 13, 9, 4, 12, 5, 10, 0]
2 [0, 13, 11, 10, 15, 9, 3, 7, 14, 4, 12, 1, 6, 5, 8, 2, 0]
3 [0, 13, 7, 12, 5, 14, 15, 2, 9, 6, 10, 4, 3, 8, 1, 11, 0]
4 [0, 12, 10, 11, 15, 9, 13, 5, 14, 1, 7, 4, 2, 6, 8, 3, 0]
5 [0, 11, 5, 12, 14, 8, 15, 10, 7, 3, 1, 2, 9, 6, 13, 4, 0]
6 [0, 6, 15, 11, 10, 3, 9, 13, 5, 7, 4, 2, 8, 14, 1, 12, 0]
7 [0, 1, 9, 3, 6, 12, 4, 8, 10, 5, 13, 11, 15, 2, 14, 7, 0]
8 [0, 15, 11, 12, 5, 9, 1, 14, 6, 2, 7, 4, 3, 13, 8, 10, 0]
9 [0, 3, 5, 10, 9, 6, 11, 14, 13, 8, 12, 7, 2, 1, 4, 15, 0]

[0, 3, 5, 10, 9, 6, 11, 14, 13, 8, 12, 7, 2, 1, 4, 15, 0]